@import "bootstrap/scss/bootstrap";


:root {
    --c-primary: #0282f9;
    --bg-main: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_element {
    color: rgb(0, 0, 172);
    cursor: pointer;
    height: 100% !important;

}

.nav_element:hover {
    color: var(--c-primary);
    border-bottom: 4px solid var(--c-primary);
}