@import "bootstrap/scss/bootstrap";


:root {
    --c-primary: #0282f9;
    --bg-main: #1c1c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_element {
    color: rgb(0, 0, 172);
    cursor: pointer;
    height: 100% !important;
    border-bottom: 4px solid transparent;

}

.nav_element:hover {
    color: var(--c-primary);
    border-bottom: 4px solid var(--c-primary);
}

.jumbotron {
    background-image: url("../../public/img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center;
    height: 300px;
    width: 100%;
}